.layout_section {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  .about {
    text-align: center;
    z-index: 5;
    margin: 4rem 0;
    .app_demo {
      h3 {
        margin: 2rem 0;
      }
    }
  }
}

.rules_section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $dark_color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: $light_color;
  .rules_container {
    margin: 4rem 0;
    h2 {
      margin-bottom: 4rem;
    }
    .rules_area {
      display: flex;
      flex-flow: wrap;
    }
  }
}

.team_section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;

  z-index: 0;
  .team_container {
    padding: 120px 0 80px 0;
    h2 {
      margin-bottom: 5rem;
      
    }
  }
  .cards {
    border: none;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    width: 300px;
   
    
    .card-image {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 15px solid $dark_color;
      
     
      border-radius: 50%;
      
      .border-gradient-purple {
  
}
      
      
    }
    .member-card {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        i {
          font-size: 4rem;
          transition: all 0.3s ease-in-out;
          color: $light_blue_color;
          &:hover {
            transform: scale(1.1);
            color: $dark_color;
          }
        }
      }
    }
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
