.play_title {
  margin-top: 6rem;
}
.game_page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .game-area {
    margin: 0 auto 2rem;
    border: 2px solid #000;
    padding: 0;
    position: relative;
    overflow: hidden;
    .game_area_img {
      opacity: 0.08;
      position: absolute;
      bottom: 18%;
      left: 0;
      width: 800px;
    }
    .play_restart_btns {
      button {
        border-radius: 0;
        background-color: $light_blue_color;
        border: none;
      }
    }
    .board {
      display: flex;
      align-items: center;
      text-align: center;
      border-bottom: 2px solid #000;
      .board_item {
        padding: 10px 0 0;
      }
    }
    .play {
      height: 400px;
      .word_in_play {
        font-size: 2rem;
        text-align: center;
        margin: 15px auto 0;
        position: relative;
        min-width: 150px;
        width: 300px;
        z-index: 2;
      }
      .word-jar {
        width: 80px;
        height: 100px;
        position: absolute;
        top: -15px;
        left: 35%;
        z-index: -1;

        transform: rotate(15deg);
      }
    }
    .answer_options {
      border-top: 2px solid #000;

      .emojis {
        width: 70px;
        height: 70px;
        font-size: 3rem;
        margin: 0 2px;
      }
    }
  }
}

@keyframes down {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
