.hero {
  padding: 0;
  color: $light_color;
  background-color: transparent;
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hero_bg {
    width: 100%;
    height: 60vh;
    transform: scale(2);
    border-radius: 0 0 50% 50%;
    background-color: $dark_color;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .hero-text {
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    z-index: 3;
    h1 {
      margin-bottom: 20px;
      font-weight: 300;
    }
    p {
      margin-bottom: 50px;
    }
    a {
      color: $light_color;
      background-color: none;
      text-transform: uppercase;
      transition: $transition;
      margin: 30px 0;
      font-weight: 600;
      &:hover {
        color: $light_color;
        text-decoration: none;
      }
    }

    i {
      margin: 0 10px 0 0;
      font-weight: 600;
    }
  }
  .jar_bg {
    width: 80px;
    height: 100px;
    position: absolute;
    top: 69%;
    bottom: 10%;
    left: 10%;
    transform: rotate(-25deg);
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .broken_jar_bg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 67%;
    bottom: 10%;
    right: 10%;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
