.room_box {
  width: 300px;
  height: 182px;
  background-color: var(--light_color) !important;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.room_box .room-icon {
  margin-right: 5px;
}

.room_box h4 {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .room_box {
    width: 45%;

    background-color: var(--light_color) !important;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .room_box {
    width: 100%;

    background-color: var(--light_color) !important;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
}
