$orange_color: #f37c0d;
$light_color: #f1f1f1;
$light-blue_color: #6fafea;
$blue_color: #3162c1;
$dark_blue_color: #102346;
$light-grey_color: #939090;
$dark_color: #000;
$transition: all 0.8s ease-in-out;

