@import "colors";
@import "/src/pages/homepage/homepage";
@import "/src/pages/gamepage/gamepage";
@import "/src/components/navigation/navigation";
@import "/src/components/hero/hero";
@import "/src/components/footer/footer";
@import "/src/components/layout/layout";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span, a {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 300;
}

