@import "colors";
@import "/src/pages/homepage/homepage";
@import "/src/pages/gamepage/gamepage";
@import "/src/components/navigation/navigation";
@import "/src/components/hero/hero";
@import "/src/components/footer/footer";
@import "/src/components/homepage/layout";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span, a {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 300;
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
  i {
    margin-right: 10px;
    transform: rotate(15deg);
  }
}
    p {
      margin-bottom: 2rem;
    }

.buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 0 20px;
        background-color: $blue_color;
        padding: 10px 20px;
        color: $light_color;
        &:hover {
          color: $light_color;
          text-decoration: none;
        }
      }
    }

